body {
  margin: 0;
  background-color: #faf7f5;
}
.header {
  text-align: center;
}
/* .main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  margin: auto;
  margin-top: 150px;
} */

/* .alert-message {
  display: hide;
  background-color: beige;
} */
.alert-message .show {
  display: block;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.alert-message .hide {
  display: none;
  transform: scale(0.9);
  transition: all 0.3s ease;
}
.alert-edit {
  color: white;
}

.palette {
  /* border: 1px solid red; */
  padding: 10px;
  background-color: #200f29;
  border-radius: 20px;
  float: right;
  margin-left: 0;
}
.palette i {
  font-size: 1.5em;
  padding: 5px;
  color: #e0b0f8;
  /* color: #f823b1; */
}
.dropdown {
  border-radius: 30px;
  border: 1px solid #200f29;
  float: right;
  margin-right: 5px;
  margin-left: 0;
  margin-top: 10px;
  padding: 0 5px;

  background-color: #200f29;
}

.dropdown-container {
  float: right;
  /* clear: both; */
  width: 250px;
  margin-right: 16px;
  margin-top: 0;
  margin-bottom: 100px;
  position: absolute;
}
.themes {
  width: 60%;
  transform-origin: 100%;
  top: 0;
  bottom: auto;
  right: 100%;
  border: 1px solid #edeae8;
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: 0;
  padding: 5px;
  background-color: #faf7f5;
  /* background-color: #FAF7F5"; */
}
.dropdown-container .themes-data {
  list-style: none;
  display: flex;
  flex-direction: column;
  top: 0;
  padding: 10px;
  bottom: auto;
}
.themes-data:hover {
  background-color: #e4dfe1;
  border-radius: 25px;
  top: 0;
  padding: 10px;
  bottom: auto;
  right: 100%;
  cursor: pointer;
}

.container {
  width: 500px;
  margin: auto;
  margin-top: 10px;
  /* clear: both; */

  min-width: 400px;
  text-align: center;
  box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.6);
  padding: 20px;
  background-color: #fbf8f6;
}
.input-field {
  display: flex;
}
#text-field {
  width: 100%;
  margin-right: 10px;
  background-color: "yellow";
  border: 4px solid pink;
  border-radius: 40px;
  padding: 10px;
}

.fa-plus {
  border: solid 1px pink;
  padding: 17px;
  border-radius: 20px;
  background-color: #ef9fbc;
}
.fa-plus:hover {
  background-color: #e2598c;
  cursor: pointer;
}

.fa-check {
  border: solid 1px pink;
  padding: 20px;
  border-radius: 25px;
  background-color: #ef9fbc;
}
.fa-check:hover {
  background-color: #e2598c;
  cursor: pointer;
}

#delete-all {
  background-color: #ef9fbc;
  margin: 10px 0;
  /* width: 1500px; */
  /* margin-left: 10px; */
  display: flex;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid pink;
}

#delete-all:hover {
  background-color: #e2598c;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

.dropdown-container {
  float: right;
  position: static;
}

.data-container {
  padding: 5px;
}

.data-container li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fbf8f6;

  padding: 10px;
}
.data-item {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.list-data {
  /* background-color: #fbf8f6; */
  padding: 0;
  /* background-color: yellow; */
}
.btn-div {
  /* background-color: pink; */
  /* padding: 5px; */
  /* width: 20%; */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  margin: 0;
  /* margin-right: 5px; */
  overflow: hidden;
  /* border: 3px solid blue; */
}

.btn-div .edit-btn {
  border: solid 1px #67d49b;
  padding: 17px;
  border-radius: 20px;
  background-color: #67d49b;
  margin-right: 10px;
}
.btn-div .delete-btn {
  border: solid 1px #ec7071;
  padding: 17px;
  border-radius: 20px;
  background-color: #ec7071;
}

.author-text {
  /* text-shadow: 0 0 8px #000; */
  /* color: transparent; */
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
  z-index: -1;
}
.author-text a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.cupcake h1,
.cupcake input {
  color: #291334;
}

.cupcake,
.cupcake .list-data,
.cupcake .themes,
.cupcake .container {
  background-color: #faf7f5;
}

.cupcake .delete-btn,
.cupcake .edit-btn {
  padding: 15px 17px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 20px;
}

.cupcake #text-author,
.cupcake b {
  color: #291334;
  font-family: Arial, sans-serif;
}

.dark,
.dark .themes,
.dark #text-field {
  background-color: #2a303c;
  color: #a6adba;
  border: none;
}
.dark .input-field,
.dark #text-field {
  border: 1px solid #af3888;
}

.dark .list-data,
.dark .container {
  background-color: #4a4e5a;
  color: #a6adba;
  border-bottom: 1px solid gray;
}

.dark .fa-plus,
.dark #delete-all {
  background-color: #ce49a1;
  border: 1px solid #ce49a1;
  color: #ffffff;
  border-radius: 10px;
}

.dark .fa-plus:hover,
.dark #delete-all:hover {
  border: 1px solid #b83e8f;
  background-color: #af3888;
}

.dark .edit-btn,
.dark .edit-btn i {
  background-color: #67d49b;
  border: 1px solid #67d49b;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  padding: 7px;
}

.dark .delete-btn,
.dark .delete-btn i {
  background-color: #ec7071;
  border: 1px solid #ec7071;
  border-radius: 10px;
  font-size: 20px;
  padding: 7px;
  cursor: pointer;
}

.dark .palette,
.dark .palette i {
  background-color: #21252e;
  border: 1px solid #21252e;
  color: #a6adba;
  border-radius: 10px;
}

.dark .palette:hover,
.dark .palette i:hover {
  background-color: #111318;
}

.dark .themes li:hover {
  background-color: #4a4e5a;
  border-radius: 10px;
}

.dark.author-text,
.dark b {
  color: #a6adba;
}
.light {
  background-color: #ffffff;
}

.light .themes {
  background-color: #ffffff;
}

.light .fa-plus,
.light #delete-all {
  background-color: #c43f95;
  border: solid 1px #c43f95;
  color: #ffff;
  border-radius: 10px;
}

.light #text-field {
  border: 1px solid #c43f95;
}

.light .edit-btn,
.light .edit-btn i {
  background-color: #67d49b;
  border: 1px solid #67d49b;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  padding: 7px;
}

.light .delete-btn,
.light .delete-btn i {
  background-color: #ec7071;
  border: 1px solid #ec7071;
  border-radius: 10px;
  font-size: 20px;
  padding: 7px;
  cursor: pointer;
}

.light .palette,
.light .palette i {
  background-color: #303746;
  /* border: 1px solid #303746; */
  color: #a6adba;
  cursor: pointer;
  border-radius: 10px;
}

.light.palette:hover,
.light .palette i:hover {
  background-color: #1b1e25;
  /* border: 1px solid #1b1e25; */
  cursor: pointer;
}
.light.author-text,
.light b {
  color: black;
}

.bumblebee {
  background-color: #ffffff;
}

.bumblebee .fa-plus,
.bumblebee #delete-all {
  background-color: #ebc858;
  border: 1px solid #ebc858;

  border-radius: 10px;
}

.bumblebee .fa-plus:hover,
.bumblebee #delete-all:hover {
  border: 1px solid #e4bf45;
  background-color: #e4bf45;
}

.bumblebee #text-field {
  border: 1px solid #e4bf45;
  border-radius: 10px;
}

.bumblebee .themes {
  background-color: #ffffff;
}
.bumblebee .themes li:hover {
  background-color: #eaeaea;
  border-radius: 10px;
}
.bumblebee .edit-btn,
.bumblebee .edit-btn i {
  background-color: #67d49b;
  border: 1px solid #67d49b;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  padding: 7px;
}

.bumblebee .delete-btn,
.bumblebee .delete-btn i {
  background-color: #ec7071;
  border: 1px solid #ec7071;
  border-radius: 10px;
  font-size: 20px;
  padding: 7px;
  cursor: pointer;
}

.bumblebee .palette,
.bumblebee .palette i {
  background-color: #2f2f53;
  color: #babaee;
  border-radius: 10px;
}

.bumblebee .palette :hover,
.bumblebee .palette i:hover {
  background-color: #131325;
  color: #babaee;
  border-radius: 10px;
}

.bumblebee.author-text,
.bumblebee b {
  color: black;
}

.synthwave,
.synthwave .themes,
.synthwave #text-field {
  background-color: #2d1b69;
  border: none;
  color: #f9f7fd;
}

.synthwave .themes li:hover {
  background-color: #4b357f;
  border-radius: 10px;
}

.synthwave .container,
.synthwave .container .list-data {
  background-color: #4b357f;
  border-bottom: solid 0.1em gray;
}

.synthwave .fa-plus,
.synthwave #delete-all {
  background-color: #56c1ff;
  border: 1px solid #56c1ff;
  border-radius: 10px;
  color: black;
}

.synthwave .fa-plus:hover,
.synthwave #delete-all:hover {
  background-color: #4fb4f0;
  border: 1px solid #4fb4f0;
  border-radius: 10px;
  color: black;
}

.synthwave #text-field {
  border-radius: 10px;
  border: solid 1px #4fb4f0;
}

.synthwave .palette,
.synthwave .palette i {
  background-color: #251757;
  border-radius: 10px;
  color: #f9f7fd;
  cursor: pointer;
}

.synthwave .palette:hover,
.synthwave .palette i:hover {
  background-color: #190f3d;
  border-radius: 10px;
  color: #f9f7fd;
}
.synthwave .edit-btn {
  background-color: #71ead2;
  font-size: 20px;
}
.synthwave .delete-btn,
.synthwave .delete-btn i {
  background-color: #e34056;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.synthwave .edit-btn,
.synthwave .delete-btn {
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.synthwave.author-text,
.synthwave b {
  color: #f9f7fd;
}

.halloween,
.halloween #text-field,
.halloween .themes {
  background-color: #212121;
  border: none;
  color: #d4d4d4;
}
.halloween .author-text,
.halloween b {
  color: #d4d4d4;
}

.halloween .container,
.halloween .list-data {
  background-color: #424242;
  color: #d4d4d4;
  border-bottom: solid 1px gray;
}

.halloween .fa-plus,
.halloween #delete-all {
  background-color: #6c3b9b;
  border: 1px solid #6c3b9b;
  border-radius: 10px;
  color: #ffffff;
}

.halloween #text-field {
  border: 2px solid #582f7f;
  border-radius: 10px;
}

.halloween .fa-plus:hover,
.halloween #delete-all:hover {
  background-color: #582f7f;
  border: 1px solid #582f7f;
  border-radius: 10px;
  color: #ffffff;
}

.halloween .palette,
.halloween .palette i {
  background-color: #1f2222;
  border-radius: 10px;
  color: #f9f7fd;
  cursor: pointer;
}

.halloween .palette:hover,
.halloween .palette i:hover {
  background-color: #161818;
  border-radius: 10px;
  color: #f9f7fd;
}

.halloween .themes li:hover {
  background-color: #424242;
  border-radius: 10px;
}
.halloween .edit-btn,
.halloween .edit-btn i {
  background-color: #4ea24b;
  font-size: 20px;
  color: white;
}
.halloween .delete-btn,
.halloween .delete-btn i {
  background-color: #dd3b33;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.halloween .edit-btn,
.halloween .delete-btn {
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.halloween,
.halloween #text-field,
.halloween .themes {
  background-color: #212121;
  border: none;
  color: #d4d4d4;
}
.halloween .author-text,
.halloween b {
  color: #d4d4d4;
}

.fantasy,
.fantasy .container,
.fantasy .list-data,
.fantasy .themes {
  background-color: #ffffff;
  color: #1f2937;
}

.fantasy .fa-plus,
.fantasy #delete-all {
  background-color: #2d73ac;
  border: 1px solid #2d73ac;
  border-radius: 10px;
  color: #ffffff;
}

.fantasy #text-field {
  border: 2px solid #2d73ac;
  border-radius: 10px;
}

.fantasy .fa-plus:hover,
.fantasy #delete-all:hover {
  background-color: #29679a;
  border: 1px solid #29679a;
  border-radius: 10px;
  color: #ffffff;
}

.fantasy .palette,
.fantasy .palette i {
  background-color: #242e41;
  border-radius: 10px;
  color: #f9f7fd;
  cursor: pointer;
}

.fantasy .palette:hover,
.fantasy .palette i:hover {
  background-color: #181f2b;
  border-radius: 10px;
  color: #f9f7fd;
}

.fantasy .themes li:hover {
  background-color: lightgray;
  border-radius: 10px;
}
.fantasy .edit-btn,
.fantasy .edit-btn {
  background-color: #67d49b;
  font-size: 20px;
}
.fantasy .delete-btn,
.fantasy .delete-btn {
  background-color: #ec7071;

  font-size: 20px;
}

.fantasy .edit-btn,
.fantasy .delete-btn {
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.fantasy .author-text,
.fantasy b {
  color: black;
}

.dracula,
.dracula #text-field,
.dracula .themes {
  background-color: #272935;
  border: none;
  color: #f8f8f2;
}
.dracula .author-text,
.dracula b {
  color: #f8f8f2;
}

.dracula .container,
.dracula .list-data {
  background-color: #474853;
  color: #f8f8f2;
  border-bottom: solid 1px gray;
}

.dracula .fa-plus,
.dracula #delete-all {
  background-color: #9c5ef8;
  border: 1px solid #9c5ef8;
  border-radius: 10px;
  color: black;
}

.dracula #text-field {
  border: 1px solid #9c5ef8;
  border-radius: 10px;
}

.dracula .fa-plus:hover,
.dracula #delete-all:hover {
  background-color: #904cf4;
  border: 1px solid #904cf4;
  border-radius: 10px;
  /* color: #ffffff; */
}

.dracula .palette,
.dracula .palette i {
  background-color: #44485d;
  border-radius: 10px;
  color: #f9f7fd;
  cursor: pointer;
}

.dracula .palette:hover,
.dracula .palette i:hover {
  background-color: #343746;
  border-radius: 10px;
  color: #f9f7fd;
}

.dracula .themes li:hover {
  background-color: #424242;
  border-radius: 10px;
}
.dracula .edit-btn,
.dracula .edit-btn i {
  background-color: #79f47c;
  font-size: 20px;
}
.dracula .delete-btn,
.dracula .delete-btn i {
  background-color: #ea5253;
  color: #f8dbda;
  font-size: 20px;
  cursor: pointer;
}

.dracula .edit-btn,
.dracula .delete-btn {
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.dracula .author-text,
.dracula b {
  color: #d4d4d4;
}

.aqua,
.aqua .list-data,
.aqua .themes {
  background-color: #335ca8;
}

.aqua .container,
.aqua .list-data {
  background-color: #5173b4;
  color: #c7dbfb;
}

.aqua h1 .aqua #text-field {
  color: #c7dbfb;
}

.aqua #text-field {
  background-color: #335ca8;
  font-size: 15px;
  color: #c7dbfb;
  border: 1px solid #784f97;
}

.aqua .edit-btn,
.aqua .edit-btn i {
  background-color: #4ea24b;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  padding: 7px;
  color: white;
  border: 1px solid #4ea24b;
}

.aqua .delete-btn,
.aqua .delete-btn i {
  background-color: #dd3b33;
  border-radius: 10px;
  font-size: 20px;
  padding: 7px;
  border: 1px solid #dd3b33;
  cursor: pointer;
  color: white;
}

.aqua .fa-plus,
.aqua #delete-all {
  background-color: #a277c3;
  border: 1px solid #a277c3;
  border-radius: 10px;
  color: #ffffff;
}
.aqua .fa-plus:hover,
.aqua #delete-all:hover {
  background-color: #784f97;
  border: 1px solid #784f97;
}

.aqua .themes li:hover {
  background-color: #5173b4;
  border-radius: 10px;
}
.aqua .themes {
  border: none;
  color: #c7dbfb;
}

.aqua .palette,
.aqua .dropdown,
.aqua .palette i {
  background-color: #56a0d4;
  border-radius: 10px;
  color: #b3ccf5;
  border: 1px solid #56a0d4;
  padding: 5px;
  cursor: pointer;
}

.aqua .palette:hover,
.aqua .palette i:hover {
  background-color: #2f6f9d;
  cursor: pointer;
  padding: 5px;
  color: #b3ccf5;
  border: 1px solid #2f6f9d;
  border-radius: 10px;
}

.aqua .author-text,
.aqua b {
  color: #c7dbfb;
}

.luxury,
.luxury #text-field,
.luxury .themes {
  background-color: #09090b;
  border: none;
  color: #dca54c;
}

.luxury .container,
.luxury .list-data {
  background-color: #2e2e2f;
  color: #dca54c;
  border-bottom: solid 1px gray;
}

.luxury .fa-plus,
.luxury #delete-all {
  background-color: #1c3663;
  border: 1px solid #1c3663;
  border-radius: 10px;
  color: #a9c7f5;
}

.luxury #text-field {
  border: 1px solid #152747;
  border-radius: 10px;
}

.luxury .fa-plus:hover,
.luxury #delete-all:hover {
  background-color: #152747;
  border: 1px solid #152747;
  border-radius: 10px;
  /* color: #ffffff; */
}

.luxury .palette,
.luxury .palette i {
  background-color: #121112;
  border-radius: 10px;
  color: #dca54c;
  cursor: pointer;
}

.luxury .palette:hover,
.luxury .palette i:hover {
  background-color: #121112;
  border-radius: 10px;
  color: #dca54c;
}

.luxury .themes li:hover {
  background-color: #1d1b1d;
  border-radius: 10px;
}
.luxury .edit-btn,
.luxury .edit-btn i {
  background-color: #87d03a;
  font-size: 20px;
}
.luxury .delete-btn,
.luxury .delete-btn i {
  background-color: #eb6d6e;
  /* color: #f8dbda; */
  font-size: 20px;
  cursor: pointer;
}

.luxury .edit-btn,
.luxury .delete-btn {
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.luxury .author-text,
.luxury b {
  color: #dca54c;
}

.night,
.night .themes,
.night #text-field {
  background-color: #0f1729;
  color: #b3c5ef;
  border: 1px solid #0f1729;
}

.night #text-field {
  border: 1px solid #9197dd;
  font-size: 17px;
  color: #b3ccf5;
  border-radius: 10px;
}

.night .edit-btn,
.night .edit-btn i {
  background-color: #66d5be;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  padding: 7px;
}

.night .delete-btn,
.night .delete-btn i {
  background-color: #eb6c83;
  border-radius: 10px;
  font-size: 20px;
  padding: 7px;
}

.night .palette,
.night .palette i {
  background-color: #273449;
  border-radius: 10px;
  color: #b3ccf5;
}

.night .fa-plus,
.night #delete-all {
  background-color: #9197dd;
  border: 1px solid #9197dd;
  border-radius: 10px;
  color: black;
}
.night .fa-plus:hover,
.night #delete-all:hover {
  background-color: #3a4cf4;
  border: 1px solid #3a4cf4;
}

.night .themes li:hover {
  background-color: #323949;
  border-radius: 10px;
}

.night .container,
.night .list-data {
  background-color: #323949;
  border-bottom: solid 1px gray;
  border-radius: 15px;
}

.night .author-text,
.night b {
  color: #b3c5ef;
}
